.title {
  text-align: center;
}
.text-field {
  margin: 20px 5px 20px 5px;
  width: 60%;
}
.math-box {
  border: 1px solid rgba(128, 128, 128, 0.247);
  border-radius: 5px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.152);
  width: 40%;
  text-align: center;
  margin: auto;
}